<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

	<table border="1px">
		<caption>Artist Profile</caption>
		<thead>
			<tr>
				<th>Field</th>
				<th>Result</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td>
				<td><%= artist.name %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><%= artist.email %></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td><%= artist.phone %></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td><%= artist.gender %></td>
			</tr>
			<tr>
				<td>Age</td>
				<td><%= artist.age %></td>
			</tr>
			<tr>
				<td>City</td>
				<td><%= artist.city %></td>
			</tr>
			<tr>
				<td>Pin</td>
				<td><%= artist.pin %></td>
			</tr>
			<tr>
				<td>Qualification</td>
				<td><%= artist.qualification %></td>
			</tr>
			<tr>
				<td>Category</td>
				<td><%= artist.sub_category %></td>
			</tr>
			<tr>
				<td>Brief Bio</td>
				<td><%= artist.small_description %></td>
			</tr>
			<tr>
				<td>Website</td>
				<td><%= artist.website_link %></td>
			</tr>
		</tbody>
	</table>
</body>
</html>